@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Fetching top restaurants in your current city</PageTitle>

<h1>Fetching all the resaurants in your current city</h1><br>
<p>Showing results for ATLANTA....<br>
1.Ann's Snack Bar<br>
2.Antico Pizza<br>
3.Fellini's Pizza<br>
4.FLIP Burger Boutique<br>
5.Junior's Grill<br>
6.Mary Mac's Tea Room<br>
7.Mellow Mushroom<br>
8.Moe's Southwest Grill<br>

<br></p>
    

<center><a href="/html/">Add a Restaurant</a> | <a href="/html/">Add a Review</a> </center>







