@page "/"

<PageTitle>Index</PageTitle>

<center><h1> THE FOOD POST</h1></center>
Hello foodies! Welcome to THE FOOD POST
Here we share our adoration for good food with you! Whether you're a foodie or only searching for another café to attempt, we take care of you. Our group of experienced food pundits are devoted to finding the best feasting encounters and bringing you legit, top to bottom surveys of the best in class in the food world. We accept that great food is intended to be relished and shared, so come go along with us on our culinary excursion and find the flavorful universe of food.Our aim is to provide valuable insights and recommendations to help you make informed decisions about where to eat.
<p><img src="https://photoswithphones.com/wp-content/uploads/2018/10/Beginners-Guide-to-Smartphone-Photography-feature.jpg"alt="Food" width="880" height="380"><br></p>

<footer>
Copyrights reserved by Lakshmi Hema Sarvani Gadamsetty.<br>
Incase of any queries please write us an email at <a href="/js/">Customersupport@foodpost.com</a> 
<SurveyPrompt Title="How do you think this website can improve?" />
</footer>